div#webuiUpdateToggle.pause {
	background: transparent url(../../images/toolbar.png) no-repeat -120px 50%;
}

div#webuiUpdateToggle.resume {
	background: transparent url(../../images/toolbar.png) no-repeat -96px 50%;
}

div#webuiRefresh {
	background: transparent url(./images/refresh.png) no-repeat;	
}